.favoritos-block {
    margin: 0 21px 0 21px;
    z-index: 1;
    & .empty-favoritos-container {
        margin-top: 80px;
        margin-bottom: 137px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & img {
            margin-bottom: 23.7px;
        }
        & .empty-favoritos-description {
            font-family: $montserrat-font;
            font-weight: $bold;
            font-size: 22px;
            color: #50E3C2;
            text-align: center;
            line-height: 33px;
            width: 40%;
        }
    }
    & .favoritos-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 46px;
        & img {
            margin-top: 5px;
            margin-bottom: 7px;
        }
        & .favoritos-title {
            font-family: $montserrat-font;
            font-weight: bold;
            font-size: $h2-subtitle-mobile-size;
            color: $primary-color;
            body.dark & {
                color: $primary-dark-color;
            }
        }
    }
    & .favoritos-grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        & img {
           width: 45%;
           margin-bottom: 25px;
           height: 120px;
        }
    }
    & .see-more-favoritos-container {
        margin: 53px 0 78px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        & button {
            border: 1px solid #572EE5;
            border-radius: 25px;
            width: 127px;
            height: 50px;
            background: none;
            color: $primary-color;
            font-family: $montserrat-font;
            font-weight: $bold;
            font-size: 13px;
            letter-spacing: 0;
            text-align: center;
            body.dark & {
                color: $primary-dark-color;
                border: 1px solid $primary-dark-color;
            }
        }
        & button:hover {
            background: #572EE5;
            color: #fff;
            cursor: pointer;
        }
    }
}